<!-- student page -->
<!DOCTYPE html>

<html>
    <head>
        <!--<title>INTERNet</title> -->
        <meta name = "description" content = "home page for intern web application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/css/starthomepage.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Lato|Monteserrat|M+PLUS+Rounded+1c|Poppins&display=swap" rel="stylesheet">
    </head>

    <body id = "page">
        <header>
            <div class = "logo">
                <p id = "username"><%= startup.name %></p>
            </div>
            <div class = "header">
                <div class = "nolist">
                    <ul id = "biglist">
                        <li><input type="text" placeholder="Search.."></li>
                        <li><a id = "about" href="#aboutme">Account</a></li>
                        <li><a id = "accomplishments" href="#accomplish">Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id = "job offers">
            <div id = "jobtext">
                <p>Potential Interns:</p>
            </div>

<% students.forEach(student => { %>

            <div class="row">
                <div class="column1">
                  <div class="card">
                    <img src = "/images/manavatar.png" id = "complogo">
                  </div>
                </div>
              
                <div class="column2">
                  <div class="card">
                      <div>
                        <h3 id = "name"><%=student.name%></h3>
                      </div>
                    <p>Grade: <%=student.grade%></p>
                  </div>
                </div>
                
                <div class="column3">
                  <div class="card">
                      <div>
                        <h3>Matched Skills</h3>
                        <p><%student.skills%></p>
                      </div>
                  </div>
                </div>

                <div class="column4">
                    <div class="card">
                        <div>
                          <a href="/resume/<%=student.resume%>"id = "resume">Resume</a>
                        </div>
                    </div>
                  </div>
                
                <div class="column5">
                  <div class="card">
                      <div>
                        <h3>Contact</h3>
                      </div>
                  </div>
                </div>
              </div>
        </div>

    <%}) %>
    </body>
</html>

